
.divSourceWindow {
    float:left;
    width:96%;
    cursor:text;
    display:inline;
    padding-top: 4px;
    padding-left:2px;
    font-size:9pt;
    font-family:monospace; /*bitstream vera sans mono;*/
    outline:none;
}
.divSettingsPane {
    float:left;
    width:18%;
    height:100%;
    background:#f8f8f8;
}
.cssScroll {
    padding-top: 4px;
    width:40px;
    font-family:monospace; /*bitstream vera sans mono;*/
    font-size:9pt;
    float:left;
    background:#dedede;
    color:#4e4e4e;
}
.container {
    border:1px #8e8e8e solid;
    height:100%;
    overflow:auto;
}